<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page.title} - " if @page %>Railsbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page--container">
    <%= link_to 'Administration panel', admin_root_path %> /
    <%= link_to 'edit page', url_for([:edit, :admin, @page]) if @page.persisted? %>
    <hr/>
    <div class="page--title">
      <%= link_to 'RAILSBOX', root_path %>
    </div>
    <div>
      <%= link_to 'EN', root_path(language: nil) %> /
      <%= link_to 'RU', root_path(language: 'ru') %>
    </div>

    <%= render menu %>
    <br/>

    <%= render menu :catalog %>
    <br/>

    <%= render breadcrumbs %>
    <br/>

    <% if params[:controller] == 'site' && params[:action] == 'main' %>
      <h1>Ruby on Rails sandbox</h1>
    <% else %>
      <h1><%= @page.content.title %></h1>
      <%= yield %>
    <% end %>

    <%= render menu :footer %>

    <%= console if Rails.env == 'development' && params[:console] == '1' %>
  </div>

</body>
</html>
