<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page.title} - " if @page %>Railsbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'structure/menus/main_menu', locals: { tree: Structure::MainMenu.tree } %>

  <% if current_page?(root_path) %>
    <h1>Ruby on Rails sandbox</h1>
  <% else %>
    <h1><%= @page.content.title %></h1>
    <%= yield %>
  <% end %>

  <%= console %>

</body>
</html>
